.dashboard {
  $tags-side-bar-width: 316px;

  margin-left: $side-bar-width;
  position: relative;
  height: 100vh;

  @at-root {
    .dashboard__content {
      position: relative;
      height: 100vh;
    }

    .dashboard__tags {
      position: absolute;
      top: 0;
      left: 0;
      width: $tags-side-bar-width;
      height: 100vh;
      overflow: auto;
      padding: 30px;
      background-color: #F9F9F9;
      border-right: 1px solid #E5E5E5;
    }

    .dashboard__tags-input-wrapper {
      margin-bottom: 30px;
      display: block;
    }

    // Specify input tag to overwrite Skeleton CSS
    input.dashboard__tags-input {
      $height: 38px;

      width: 100%;
      height: $height;
      border-radius: ($height / 2);
      padding-left: ($height / 2);
      padding-right: ($height / 2);
      border: 1px solid #CDCDCD;
      margin-bottom: 0;
      font-size: 14px;

      &:focus {
        border: 2px solid #77ABE7;
        padding-left: ($height / 2) - 1;
        padding-right: ($height / 2) - 1;
      }
    }

    .dashboard__tags-input-helper-text {
      font-size: 11px;
      text-align: center;
      color: #AAAAAA;
      margin-top: 5px;
    }

    .dashboard__tags-tag-list {
      display: flex;
      flex-wrap: wrap;
    }

    .dashboard__repos {
      position: absolute;
      top: 0;
      left: $tags-side-bar-width;
      right: 0;
      height: 100vh;
    }

    .dashboard__repos-list {
      height: 100vh;
      padding: 20px 0 0 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: auto;
    }

    .dashboard__repo-tag-drag-layer {
      position: absolute;
      top: 0;
      left: 0;
      svg path {
        fill: red;
      }
    }
  }
}
