$tags-bar-width: 80px * 3 + 10px * 3 + 20px;

.dashboard {
  margin-left: 64px;
  position: relative;
}

.dashboard__tags {
  float: left;
  width: $tags-bar-width;
  height: 100vh;
  overflow: auto;
  padding: 20px 0 10px 20px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.dashboard__repos {
  padding: 20px 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
  float: left;
  width: calc(100% - #{$tags-bar-width - 10px});
}

.dashboard__repo-tag-drag-layer {
  position: absolute;
  top: 0;
  left: 0;
  svg path {
    fill: red;
  }
}
