.filters {
  padding: 20px;
}

.filters__tag {
  display: inline-block;
  margin: 0 5px 5px 0;
  background-color: #DBDDDE;
  padding: 1px 8px 2px;
  border-radius: 4px;
  color: black;
  font-weight: 700;
}
