.nav {
  $width: $side-bar-width;
  $btn-edge-length: 34px;
  $padding: ($width - $btn-edge-length) / 2;

  position: absolute;
  left: 0;
  width: $width;
  top: 0;
  height: 100vh;
  background-color: #333333;
  padding: 0 $padding;

  @at-root {
    .nav__top {
    }

    .nav__bottom {
      position: absolute;
      bottom: 0;
      left: $padding;
    }

    .nav__btn {
      height: $btn-edge-length;
      width: $btn-edge-length;
      padding: 5px;
      border: none;
      margin: $padding 0;
      fill: #CCCCCC;
      display: block;

      &:hover {
        fill: #51B3FF;
      }

      &.nav__btn--active {
        fill: #64BE6B;
      }
    }
  }
}
