.nav {
  position: absolute;
  left: 0;
  width: 64px;
  top: 0;
  height: 100vh;
  background-color: #1F2245;
  padding: 0 15px;
}

.nav__top {
}

.nav__bottom {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.nav__btn {
  height: 34px;
  width: 34px;
  padding: 5px;
  border: none;
  margin: 15px 0;
  fill: #D2CA2A;
  display: block;
  &:hover {
    fill: #EFE525;
  }
}
