.repo {
  $padding: 20px;

  width: 270px;
  min-height: 165px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: $padding;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 1.5;

  &.repo--is-tag-over {
    border: 2px solid #77ABE7;
    padding: $padding - 1px;
  }

  @at-root {
    .repo__full-name {
      text-overflow: ellipsis;
      overflow: hidden;
      color: #4A90E2;
      font-size: 16px;
      line-height: 19px;
    }

    .repo__name-link {
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        .repo__repo-name {
          color: #4A90E2;
        }
      }
    }

    .repo__repo-name {
      color: #333333;
      font-weight: 700;
    }

    .repo__author-name {
      color: #888888;
    }

    .repo__tags {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
    }

    .repo__tag {
      @extend .tag;

      &.repo__tag--dragging {
        opacity: 0;
      }
    }

    .repo__desc {
      margin-top: 15px;
      font-size: 14px;
      line-height: 18px;
      color: #666666;
      word-break: break-word;
    }
  }
}
