.tag {
  width: 80px;
  height: 80px;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #DBDDDE;

  &.tag--btn {
    border: none;
    position: relative;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.tag__text {
  height: 100%;
  line-height: 80px - 5px * 2;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}
