.tag {
  $height: 26px;

  height: $height;
  border-radius: ($height / 2);
  padding: 6px 8px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #DBDDDE;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
}
