doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Starboard [beta]
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/index.css')
    //- TODO: bundle this together with app stylesheet
    link(rel='stylesheet' href='http://ricostacruz.com/nprogress/nprogress.css')
  body
    #app
    include ./_ga.jade
    script(src='./bundle.js')
