<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div id="app"><%- content %></div>
  <script>window.__data__ = <%- JSON.stringify(data) %>;</script>
  <script src="./bundle.js" async></script>
</body>
</html>
