**/.git
deployment
design
doc
**/config/local*
**/eslint-rules
**/migrations
**/node_modules
**/scripts
**/secret
**/local
**/.DS_Store
.dockerignore
**/.eslintrc.yml
**/.gitattributes
**/.gitignore
docker-compose.yml
http-server/knexfile.js
starboard-ui/public
**/README.md
starboard*.yml
**/webpack.config*
