[submodule "http-server"]
	path = http-server
	url = git@github.com:TryStarboard/http-server.git
[submodule "job-server"]
	path = job-server
	url = git@github.com:TryStarboard/job-server.git
[submodule "starboard-ui"]
	path = starboard-ui
	url = git@github.com:TryStarboard/starboard-ui.git
[submodule "websocket-server"]
	path = websocket-server
	url = git@github.com:TryStarboard/websocket-server.git
[submodule "redis"]
	path = redis
	url = git@github.com:TryStarboard/redis.git
[submodule "log"]
	path = log
	url = git@github.com:TryStarboard/log.git
[submodule "models"]
	path = models
	url = git@github.com:TryStarboard/models.git
[submodule "github"]
	path = github
	url = git@github.com:TryStarboard/github.git
